body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px; /* Increased margin for better separation */
}

p {
  margin-bottom: 20px; /* Increased margin for better separation */
  color: #000; /* Changed text color for better readability */
}

a {
  color: #000; /* Changed link color for better visibility */
  text-decoration: none;
  transition: color 0.3s; /* Added transition for smoother hover effect */
}

a:hover {
  color: #ee7205; /* Darker color on hover for better contrast */
}
